section {
  background-color: #fff;
  width: 700px;
  margin: 0px auto;
  border-radius: 50px;
  border: 50px solid gold;
  text-align: center;
}

h1 {
  width: 700px;
  font-size: 2.5em;
  font-family: 'Righteous', cursive;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border: 10px solid #214;
  border-radius: 20px;
}

canvas {
  margin: 10px auto;
}