img {
  border: 6px solid #214;
  border-radius: 20px;
  max-height: 200px;
  max-width: 25%;
  margin: 1.5%;
  vertical-align: middle;
}

p {
  font-family: 'Ropa Sans', sans-serif;
  color: #eee;
  font-size: 1.05em;
  line-height: 1.5em;
  padding: 10px;
  /*width: 700px;*/
  margin: 10px auto;
  text-align: center;
}

#bus {
  display: block;
  padding: 10px;
  margin: 0px auto;
  height: 50px;
}


